$primary-logo: #26C2F0;
$bg-main: linear-gradient(to bottom, rgba(14,14,85,0.9) 0%, rgba(22,22,144,1) 50%, rgba(18,122,189,1) 100%);
$br-cards: linear-gradient(to left, #1bfafa, #04cfcf);
$light-text: #c2c2c2;
$black: #0E0E10;
